<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="+" value="IBinary.Addition, IBinary" />
		<add key="-" value="IBinary.Subtraction, IBinary" />
		<add key="*" value="IBinary.Multiplication, IBinary" />
		<add key="/" value="IBinary.Division, IBinary" />
		<add key="Log" value="IBinary.Logarithm, IBinary" />
		<add key="abs" value="IUnary.AbsoluteOperation, IUnary" />
		<add key="neg" value="IUnary.NegateOperation, IUnary" />
		<add key="rec" value="IUnary.ReciprocalOperation, IUnary" />
		<add key="sqrt" value="IUnary.SqrtOperation, IUnary" />
		<add key="square" value="IUnary.SquareOperation, IUnary" />
	    <add key="LoggerType" value="FileLogger" />
		<add key="LogFilePath" value="D:\VS\softwareDesign\simpleCalculator\Logs\Calculator.log" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.4" newVersion="7.0.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
