<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="+" value="IBinary.Addition, IBinary" />
    <add key="-" value="IBinary.Subtraction, IBinary" />
    <add key="*" value="IBinary.Multiplication, IBinary" />
    <add key="/" value="IBinary.Division, IBinary" />
    <add key="Log" value="IBinary.Logarithm, IBinary" />
    <add key="abs" value="IUnary.AbsoluteOperation, IUnary" />
    <add key="neg" value="IUnary.NegateOperation, IUnary" />
    <add key="rec" value="IUnary.ReciprocalOperation, IUnary" />
    <add key="sqrt" value="IUnary.SqrtOperation, IUnary" />
    <add key="square" value="IUnary.SquareOperation, IUnary" />
    <add key="LoggerType" value="FileLogger" />
    <add key="ConnectionString" value="Data Source=rapist;Initial Catalog=Calculator;Integrated Security=True" />
    <add key="LogFilePath" value="D:\VS\softwareDesign\simpleCalculator\Logs\Calculator.log" />
  </appSettings>
  <connectionStrings>
    <add name="LogDbContext" connectionString="Data Source=rapist;Initial Catalog=Calculator;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>